
@model PhuDD4_MorckProject.Models.product
@{
    ViewBag.Title = "Cập Nhật Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/Layout/Admin_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="tieu_de">Update Product</h2>
        <div id="tb_tc" class="tb_tong alert alert-success" role="alert">
        </div>
        <div id="tb_tb" class="tb_tong alert alert-danger" role="alert">
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label for="inputAddress" class="category_chu form-label">Tên Sản Phẩm</label>
                <input onclick="an()" value="@Model.product_name" type="text" class="category_form form-control" id="product_name" placeholder="Tên Sản Phẩm">
            </div>
            <label id="tb_product_name" class="category_tb">tb</label>

            <div class="row g-3">
                <label for="inputAddress" class="category_chu form-label">Danh Mục</label>
                <select onclick="an()" id="category_id" class="category_form form-select" aria-label="Default select example">
                    @foreach (PhuDD4_MorckProject.Models.category item in ViewBag.list_category)
                    {
                        if (ViewBag.id_dm_cu == item.category_id)
                        {
                            <option value="@item.category_id" selected>@item.category_name</option>
                        }
                        else
                        {
                            <option value="@item.category_id">@item.category_name</option>
                        }

                    }
                </select>
            </div>
            <label id="tb_category_id" class="category_tb">tb</label>

            <div class="row g-3">
                <div class="col-12">
                    <label for="inputAddress" class="category_chu form-label">Giá</label>
                    <input onclick="an()" value="@Model.product_price" type="number" class="category_form form-control" id="product_price" placeholder="Giá">
                </div>
                <label id="tb_product_id" class="category_tb">tb</label>

                <div class="col-12">
                    <label for="inputAddress" class="category_chu form-label">Số Lượng</label>
                    <input value="@Model.number" onclick="an()" type="number" class="category_form form-control" id="product_number" placeholder="Số Lượng">
                </div>
                <label id="tb_product_soluong" class="category_tb">tb</label>

                <div class="col-12">
                    <label for="inputAddress" class="category_chu form-label">Xuất Xứ</label>
                    <input value="@Model.origin" onclick="an()" type="text" class="category_form form-control" id="product_xuatxu" placeholder="Xuất Xứ">
                </div>
                <label id="tb_product_xuatxu" class="category_tb">tb</label>

                <div class="col-12">
                    <label for="inputAddress" class="category_chu form-label">Thương Hiệu</label>
                    <input value="@Model.trademark" onclick="an()" type="text" class="category_form form-control" id="product_thuonghieu" placeholder="Thương Hiệu">
                </div>
                <label id="tb_product_thuonghieu" class="category_tb">tb</label>


                <div class="col-12">
                    <label for="inputAddress" class="category_chu form-label">Ngày Tạo</label>
                    <input onclick="an()" value="@Model.CREATE_date" TextMode="DateTime" class="category_form form-control" placeholder="DD/MM/YYYY" id="product_ngaytao">
                </div>
                <label id="tb_product_date" class="category_tb">tb</label>

                <div class="mb-3">
                    <label for="formFile" class="category_chu form-label">Ảnh</label>
                    <input onclick="an()" class="category_form form-control" type="file" id="product_img">
                </div>
                <label id="tb_img" class="category_tb">tb</label>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="category_chu form-label">Mô Tả Ngắn</label>
                    <textarea onclick="an()" id="product_short_description" placeholder="Mô Tả Ngắn" class="category_form form-control" rows="3">@Model.product_short_description</textarea>
                </div>
                <label id="tb_product_motangan" class="category_tb">tb</label>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="category_chu form-label">Mô Tả</label>
                    <textarea onclick="an()" id="product_description" placeholder="Mô Tả" class="category_form form-control" rows="3">@Model.product_description</textarea>
                </div>
                <label id="tb_product_mota" class="category_tb">tb</label>

                <div class="col-12">
                    <button onclick="update_product('@Model.product_id.ToString().Trim()')" class="btn_them_category btn btn-primary">Sửa</button>
                    <button onclick="trove()" type="button" class="btn_them_category btn btn-danger">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    @section script
    {
        <script src="~/Areas/Admin/Public/js/admin_product.js"></script>
    }


